* {
    margin: 0;
    padding: 0;
    outline: none;
}

@import "vars";

body {
    background-color: $backcolor;
}

.container {
    margin: 0 auto;
    max-width: $site-width;
}

.first-page {
    padding-bottom: 113px;
    background-color: $headcolor;

    &__nav {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__header-link {
        @include txt(20px, 400, 50px);
        padding: 40px;
        display: block;
        text-decoration: none;

        &_hover:hover {
            background-color: $buttoncolor;
            border-radius: 5px;
        }
    }
}

.first-section {
    margin-top: 160px;
    margin-bottom: 200px;
}

.flex-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.next {
    @include txt(18px, 600, 160%);
    text-transform: uppercase;
    color: $buttoncolor;
}

.first-section-headding {
    @include txt(55px, 800, 130%);
    width: 604px;
}

.first-section-dsc {
    @include txt(18px, 600, 160%);
    color: #ccc;
    margin-top: 40px;
    width: 558px;
}

.get {
    background: $buttoncolor;
    border-radius: 5px;
    margin-right: 20px;
}

.button-txt-flex {
    @include txt(20px, 600, 27px);
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 30px;
}

.watch {
    background: $buttoncolor;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.watch-txt {
    @include txt(20px, 600, 27px);
    margin-left: 10px;
}

.button-flex {
    display: flex;
    padding-top: 50px;
}

.button-txt {
    @include txt(20px, 600, 27px);
    padding: 15px 30px;
    display: flex;
    align-items: center;
}

.get:hover,
.watch:hover {
    outline: 4px solid $color-txt;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.second-page {
    margin-top: 157px;
    margin-bottom: 132px;
}

.second-section-txt {
    padding-left: 68px;
}

.second-section-headding {
    @include txt(40px, 600, 130%);
}

.second-section-dsc {
    @include txt(16px, 600, 160%);
    opacity: 0.7;
    padding-top: 30px;
}

.third-page {
    padding-top: 102px;
}

.container-item {
    max-width: $site-width;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
}

.item {
    width: 362px;
    height: 419px;
    @include item(10px);
}

.item-big {
    width: 754px;
    height: 868px;
    @include item(10px);
}

.item-pic {
    margin-top: 30px;
}

.item-heading {
    @include txt(25px, 700, 125%);
    text-align: center;
    opacity: 0.7;
    width: 302px;
}

.item-dsc {
    @include txt(16px, 600, 160%);
    text-align: center;
    opacity: 0.7;
    width: 302px;
    padding-bottom: 30px;
}

.item-big-heading {
    @include txt(25px, 700, 125%);
    text-align: center;
    opacity: 0.7;
    width: 694px;
}

.item-big-dsc {
    @include txt(16px, 600, 160%);
    text-align: center;
    opacity: 0.7;
    width: 694px;
    padding-bottom: 144px;
}

.fourth-page {
    padding-top: 243px;
    margin-bottom: 235px;
}

.fourth-section-headding {
    @include txt(40px, 700, 130%);
    padding-bottom: 20px;
}

.fourth-section-dsc {
    @include txt(16px, 600, 160%);
    opacity: 0.7;
    padding-right: 113px;
    padding-top: 20px;
}

.footer {
    background-color: $headcolor;
}

.flex-box-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.first-column {
    width: 261px;
    padding-right: 110px;
    padding-bottom: 50px;
}

.footer-headding {
    @include txt(16px, 500, 19px);
    font-family: $fontfooter;
    padding-top: 48px;
    padding-bottom: 33px;
    width: 261px;
}

.email-txt {
    @include txt(14px, 500, 16px);
    font-family: $fontfooter;
    padding-left: 9px;
}

.phone-txt {
    @include txt(14px, 500, 16px);
    font-family: $fontfooter;
    padding-left: 9px;
}

.phone {
    padding-top: 25px;
}

.adress-txt {
    @include txt(14px, 500, 16px);
    font-family: $fontfooter;
    padding-left: 9px;
}

.adress {
    padding-top: 25px;
}

.footer-dsc {
    @include txt(14px, 100, 16px);
    font-family: $fontfooter;
    font-style: italic;
    opacity: 0.6;
    flex: none;
    order: 0;
    flex-grow: 0;
    width: 261px;
    padding-right: 131px;
}

.footer-link {
    @include txt(14px, 500, 16px);
    font-family: $fontfooter;
    flex: none;
    order: 0;
    flex-grow: 0;
    padding-bottom: 24px;
}

.footer-img {
    padding-right: 24px;
}

@media (max-width: 1024px) {
    .flex-box {
        justify-content: center;
    }

    .first-section-pic {
        margin-top: 50px;
    }

    .next {
        font-size: 16px;
    }

    .first-section-headding {
        font-size: 48px;
    }

    .footer-flex {
        justify-content: center;
        gap: 30px;
    }

    .second-section-txt {
        padding: 55px;
    }

    .item-big {
        display: none;
    }

    .item-column {
        display: none;
    }

    .container-item {
        flex-direction: column;
        align-items: center;
    }

    .fourth-section {
        padding-left: 40px;
    }

    .fourth-section-txt {
        padding-bottom: 64px;
    }

    .fourth-section-dsc {
        padding-right: 0;
    }

    .flex-box-footer {
        margin-left: 40px;
        flex-wrap: wrap;
    }
}

@media (max-width: 767px) {
    .flex-box {
        justify-content: center;
    }

    .header-link {
        font-size: 14px;
        line-height: 19px;
        padding: 16px;
    }

    .next {
        font-size: 14px;
        text-align: center;
    }

    .first-section-headding {
        font-size: 28px;
        text-align: center;
        width: 100%;
    }

    .first-section-txt {
        width: 100%;
    }

    .first-section-dsc {
        text-align: center;
        width: 100%;
    }

    .first-section-pic {
        margin-top: 50px;
    }

    .button-flex {
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
    }

    .button-txt-flex {
        padding: 22px;
    }

    .get {
        margin-bottom: 20px;
        margin-right: 0;
    }

    .second-section-txt {
        text-align: center;
        padding: 0;
    }

    .fourth-section-txt {
        text-align: center;
    }
}