* {
    margin: 0;
    padding: 0;
}

.url_head {
    text-decoration: none;
    font-size: 25px;
    line-height: 40px;
    color: red ;
    width: 100px;
    height: 45px;
    text-align: center;
    background-color:black;
    border-radius: 5px;
}

.header {
    background-color: black;
    height: 60px;
}

.footer {
    height: 100px;
    margin: 0 auto;
}

.container {
    width: 1500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.url_head:hover {
    font-size: 20px;
    background-color:rgba(14, 160, 14, 0.517);
}

.image {
    width: 250px;
    height: 300px;
    border: 1px solid black
}

.menu-link {
    display: block;
    width: 300px;
    height: 50px;
    text-align: center;
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    line-height: 50px;
    border: 1px solid transparent;
    font-weight: bold;
    text-transform: uppercase;
}

.content-menu {
    background-color: orange;
    flex: 1;
}

.menu-link:hover {
    background-color: cornflowerblue;
    color: antiquewhite;
    border: 1px solid black;
}

.headers {
    color: #222222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
}

.headers-second {
    color: coral;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;

}

.paragraph {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987
}

input {
    padding-left: 5px;
}